/* Template CSS Section */
body {
    background-image: url("../images/concrete_seamless.png");
    margin: auto;
}
a {
    text-decoration: none;
    color: inherit;
}
.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
}
header {
    background-color: white;
    width: 100%;
    /*margin: auto;*/
    height: 100px;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    border: #cccccc solid 1px;
}
.header-content {
    width: 960px;
    margin: auto;
}
.page-width {
    width: 960px;
}
.name {  
    /*margin-right: 0px;*/
    margin: auto;
    font-size: 40px;
    background-color: #4aaaa5; 
    text-align: center;
    padding: 30px 30px 30px 30px;
    float: left;
    color: #ffffff;
}
.entire-content-area {
    margin: auto;
    width: 960px;
}
.main-content-area {
    width: 650px;
    background-color: #ffffff; 
    display: inline-block;
    margin-bottom: 50px;
    margin-top: 35px;
    border: #dddddd solid 1px;
    
}
.about-me {
    color: #4aaaa5;
    margin-left: 29px;
    font-size: 40px;
    padding: 30px 0px;
}
.nav-bar-float {
    float: right;
    font-size: 20px;
    height: 100px;
}
.connection-images {
    float: left;
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5.5px;
 }
.nav-bar-list-item {
    /* navigation bar */
    list-style-type: none;
    
    padding: 0px 15px 0px 15px;
    float: left;
    margin-top: 40px;
    margin-bottom: 40px;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', 'sans-serif';
}
.border-right {
    border-right: 1px solid #e1d8d8;
}
.connection {
    float: right;
    width: 270px;
    height: 170px;
    background-color: #ffffff;
    padding-top: 10px;
    color: #4aaaa5;
    font-size: 25px;
    text-align: center;
    margin-top: 35px;
    border: #dddddd solid 1px;
}
.footer-green-bar {
    width: 100%;
    height: 10px;
    background-color: #4aaaa5; 
}
.footer-copyright-gray-bar {
 padding: 30px 0px 30px 0px;
 background-color: #666666;
 width: 100%;
 margin-bottom: 0%;
 text-align: center;
 color: white;
}
.horizontal-divider-line {
    margin: 0px 29px 0px 29px;
    height: 1px;
    background-color: #666666;
    opacity: 0.5;
}
.short-horizontal-diver-line {
    
    height: 1px;
    background-color: #666666;
    opacity: 0.25;
    margin: 20px 20px 20px 20px;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}





/* About Me Specific Style */
#profile-pic {
    width: 240px;
    height: 320px;
    float: left;
    clear: left;
    padding-right: 20px;
    padding-bottom: 8px;
}
.bio {
    padding: 30px;
    font-family: 'Arial', 'Helvetica Neue', 'sans-serif';
    word-spacing: 2px;
    color: #777777;
    line-height: 2;
}





/*  Portfolio-Specific Syle */

.portfolio-images {
    margin: 0 auto 30px 0;
    left: -9999px;
    right: -9999px;
    overflow: hidden;
    height: 100%;
}
.portfolio {
    margin: 30px;
}
.skills {
    position: relative;
    display: inline-block;
    height: 130px;
    text-align: center;
    margin: 0 16px;
}
.hangman-text {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 0px;
    color: white;
    background-color: #4aaaa5;
    padding: 10px 91px;
    font-size: 20px;
}
.rpg-game-text {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 0px;
    color: white;
    background-color: #4aaaa5;
    padding: 10px 84px;
    font-size: 20px;
}
.trivia-game-text {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 0px;
    color: white;
    background-color: #4aaaa5;
    padding: 10px 79.5px;
    font-size: 20px;
}
.rutgers-info-widget-text {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 0px;
    color: white;
    background-color: #4aaaa5;
    padding: 10px 48px;
    font-size: 20px;
}
.led-tv-text {
    position: absolute;
    bottom: 15px;
    text-align: center;
    left: 0px;
    color: white;
    background-color: #4aaaa5;
    padding: 10px 94.5px;
    font-size: 20px;
}

/* Contact Form */
.form-area {
    margin: 0 auto 40px;
    display: block;
    padding: 20px 30px;
    color: #777777;
}
.input-fields {
    width: 100%;
    margin: 20px 0;
    line-height: 2;
}
.submit-button {
    padding: 10px 30px;
    background-color:  #4aaaa5;
    color: #ffffff;
    font-size: 20px;
}


/* -------------------------------------------- Media Queries -------------------------------------------- */

@media screen and (max-width: 768px) {
    
    .header-content {
       width: 768px;
       margin-left: 2%;
       margin-right: 2%;
    }
    .nav-bar-float {
        font-size: 15px;
        margin-right: 5%;
    }
    .main-content-area {
        width: 723px; /* was 723px */
        margin-left: 2%; /* was 15px; */ 
        margin-right: 4%; /* was 30px; */ 
    }
    .connection {
        float: none;
        margin-top: 0%;
        margin-left: 2%;
        width: 723px;
        margin-bottom: 150px;
    }
    h3 {
        text-align: left;
        margin-left: 20px;
    }
    footer {
        width: 768px;
    }
}
/* ----------------------------------------------------- */
@media screen and (max-width: 640px) {
    .header-content {
        margin-left: 0;
        
    }
    .name {
        width: 640px;
        padding-left: 0px;
        padding-right: 0px;
        
    }
    .nav-bar {
        width: 100%;
        background-color: white;
        float: none;
    }
    .nav-bar-float {
        float: left;
        background-color: white;
        width: 640px;
    }
    body {
        width: 640px;
    }
    footer {
        width: 640px;
    }
    .nav-bar-list-item {
        width: 33%;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }
    .entire-content-area {
        width: 640px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
        
    }
    .main-content-area {
        width: 95.5%;
    }
}